:root{
    --primary-color: #FFDA2B;
    --secondary-color: #101214;
    --background-color: var(--primary-color);
    --text-color: var(--secondary-color);
}

p, h1, h2, h3, h4, h5, h6, li, ul, span, a{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
}

.identity{
    display: flex;
    align-items: center;
    gap: 24px;
}

.name{
    font-family: 'Arial';
    font-size: 38px;
    font-weight: bold;
    width: fit-content;
}

.desc{
    font-size: 20px;
    font-weight: regular;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    width: 100%;
}

.projects{
    display: flex;
    justify-content: space-between;
}

.left-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    position: fixed;
}

.right-container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.background-top{
    width: 434px;
    height: 194px;
}

.background-bottom{
    width: 434px;
    height: 194px;
}

.left{
    width: fit-content;
    padding-left: 75px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.line{
    height: 3px;
    width: 40px;
    background-color: black;
}

.summary{
    font-size: 24px;
    line-height: 28px;
    font-weight: regular;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

nav li{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    opacity: 75%;
}

.active .line{
    width: 80px;
}

.social-media{
    display: flex;
    gap: 16px;
}

.social-media img{
    cursor: pointer;
}

.projects{
    padding-right: 75px;
}

.projects-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects-list li{
    font-weight: 800;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--secondary-color);
    color: transparent;
    transition: color 0.3s ease;
}

.projects-list li:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

 /* Écran de chargement */
 #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101214;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  /* Conteneur pour les animations */
  .logo-container {
    animation: zoom 2s ease-in-out forwards; /* Agrandissement */
  }

  /* Logo avec rotation */
  .logo {
    width: 75px;
    height: 75px;
    background-image: url('../img/favicon-yellow-svg.svg'); /* Remplacez par l'URL de votre logo */
    background-size: cover;
    background-position: center;
    animation: spin 2.5s ease-in-out; 
  } 

  /* Animation*/
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg);
    } 
    50% {
      transform: rotate(180deg);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}